body {
  background-color: #0A090A;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/main-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 1140px;
  /* выравнивание по центру */
  margin: auto;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* внутренний отступ */
  padding-top: 45px;
  /* внешний */
  margin-bottom: 30%;
}

.logo {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.search {
  display: flex;
  align-items: center;
  flex: 0.8;
}
.search-input {
  flex: 1;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  /* внутренние отступы */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  color: #AEAEAE;
  font-size: 14px;
  line-height: 16px;
}
.search-input::-webkit-input-placeholder { /* Chrome */
  color: #AEAEAE;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
  color: #AEAEAE;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
  opacity: 1;
}
.search-input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #AEAEAE;
  opacity: 1;
}
.search-button {
  background-color: transparent;
  border: none;
  padding: 10px 18px;
}

.user {
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 7px;
}

.title-en {
  /* чтобы работали отступы */
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  color: #787878;
  margin-bottom: 38px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-info {
  display: flex;
  align-items: center;
}

.tag {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 20px;
}

.country {
  font-size: 16px;
  line-height: 19px;
  margin-right: 33px;
}

.play {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.play:before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}

.more {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.more:after {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 15px;
  transform: rotate(90deg);
}

.content {
  background-color: #FFFFFF;
  margin-top: 34px;
}